<h1> All messages</h1>

<% @messages.each do |message|%>
    <div class="message-card">
        <h2> user: <%= message.user %></h2>
        <p> <%= message.body %></p>
        <p> <% <%= message.created_at.strftime('%b %d, %Y %H:%M:%S %z') %> %></p>
    </div>
<% end %>
